@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
	--clr-primary1: hsl(215, 51%, 70%);
	--clr-primary2: hsl(178, 100%, 50%);

	--clr-neutral1: hsl(217, 54%, 11%);
	--clr-neutral2: hsl(216, 50%, 16%);
	--clr-neutral3: hsl(215, 32%, 27%);
	--clr-neutral4: hsl(0, 0%, 100%);

	--ff-outfit: 'Outfit', sans-serif;

	--fw-light: 300;
	--fw-regular: 400;
	--fw-semibold: 600;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--ff-outfit);
	background-color: var(--clr-neutral1);

	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

main {
	max-width: 370px;
	margin: 0 auto;
}

.nft {
	margin: 2rem 1rem;
	padding: 25px;
	background-color: var(--clr-neutral2);
	border-radius: 15px;
}

.nft__image {
	border-radius: 12px;
	overflow: hidden;
	position: relative;
}

.nft__image img {
	width: 100%;
	display: block;
}

.nft__image-overlay {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: hsla(178, 100%, 50%, .5);
	display: none;
}

.nft__image-overlay img {
	position: absolute;
	width: 50px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.nft__image:hover .nft__image-overlay {
	display: block;
}

.nft__text a {
	color: var(--clr-neutral4);
	text-decoration: none;
	font-weight: var(--fw-semibold);
	font-size: 22px;
	padding: 22px 0 16px 0;
	display: inline-block;
}

.nft__text a:hover {
	color: var(--clr-primary2);
}

.nft__text p {
	color: var(--clr-primary1);
	font-size: 18px;
	font-weight: var(--fw-light);
	line-height: 1.4;
}

.nft__flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
}

.nft__ethereum,
.nft__days {
	display: flex;
	align-items: center;
}

.nft__ethereum p {
	font-weight: var(--fw-semibold);
	color: var(--clr-primary2);
	padding-left: 7px;
}

.nft__days p {
	font-weight: var(--fw-regular);
	font-size: 16px;
	padding-left: 7px;
}

hr {
	margin-top: 2px;
	color: var(--clr-neutral3);
}

.nft__author {
	display: flex;
	align-items: center;
	padding: 16px 0 5.5px 0;
	gap: 16px;
}

.nft__author img {
	width: 33.5px;
	border: 1px solid var(--clr-neutral4);
	border-radius: 50%;
}

.nft__author p {
	font-weight: var(--fw-regular);
	color: var(--clr-primary1);
}

.nft__author p > a {
	text-decoration: none;
	color: var(--clr-neutral4);
}

.nft__author p > a:hover {
	color: var(--clr-primary2);
}
